.shelf-banner{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #D34735;
}

.shelf-logo{
    background-color: #AB2A19;
    padding: 15px 85px 12px 85px;
    margin-bottom: -25px;
}


.shelf-title{
    padding: 5px 10px 5px 10px;
    font-family: 'Open Sans', sans-serif;
}

.bin-with-inv-button{
    background-color: #ED6B5A;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 800px;
    margin: 25px 300px 0px 300px;
    height: 90px;
    border-radius: 15px;
    font-size: 45px;
    text-align: center;
    border-style: none;
}

.bin-no-inv-button{
    background-color: #FFB8AF;
    width: 800px;
    margin: 25px 300px 0px 300px;
    height: 90px;
    border-radius: 15px;
    font-size: 45px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-style: none;
    font-weight: 700;
}


.shelf-button-text{
    margin: 13px 210px 12px 0px;
    font-weight: 700;
}