.inventory-banner{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #ed6b5a;
    height: 90px;

}

.inventory-logo{
    background-color: #AB2A19;
    padding: 10px 40px 10px 40px; 
    height: 70px;
}
.title-holder{
    background-color: #D34735;
    height: 70px;
    padding: 10px 80px 10px 0px;
    text-decoration: none;
    
}

.inventory-title{
    margin: 10px 0px 0px 15px;
    /* padding-right: 100px; */
    color: white;
    text-align: left;
    
    font-family: 'Open Sans', sans-serif;
    /* font-size: 20px; */
    font-weight: 700;
}

.inventory-number{
    height: 70px;
    color: white; 
    padding-left: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
   
}

.page-container{
    display: flex;
    flex-direction: row;
}

.product-input-title{
    text-align: left;
    margin: 35px 0px 15px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    
}

.product-image{
   width: 300px;
   padding-right: 0px;
   margin:20px 10px 0px 35px;
   
   
}

input:focus{
    border-width:5px;  
}

.inventory-input{
    border-color: #AB2A19;
    background-color: white;
    border-radius: 10px;
    border-style:solid;
    /* border-width: 3px; */
    width: 800px;
    margin: 0px 700px 0px 0px;
    height: 80px;
    outline: none;
    font-size: 40px;
    font-weight: 750;
}

.button-container{
    display: flex;
    flex-direction: row;
}

.edit-button{
    background-color: lightgray;
    width: 360px;
    margin: 25px 45px 0px 0px;
    height: 90px;
    border-radius: 10px;
    border-style: none;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 900;
    outline: none;
}

.delete-button{
    background-color: lightgray;
    width: 360px;
    margin: 25px 550px 0px 45px;
    height: 90px;
    border-radius: 10px;
    border-style: none;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif; 
    outline: none;
}
.save-button{
    background-color: #40F99b;
    width: 360px;
    margin: 25px 45px 0px 0px;
    height: 90px;
    border-radius: 150px;
    border-style: none;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 900;
    outline: none;
}

.add-button-text{
    /* margin: 13px 25px 25px 175px; */
    color:black;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    
}